
.ui.table thead th {
  background-color: transparent !important;
}

th span {
  font-size: 14px;
}

td {
  font-size: 14px;
}

.ui.table {
  margin-top: 4px !important;
}

.quicktable {
  width: 100%;
  margin: 0px !important;
  display: table;
}

.quicktable-row-tools {
  display: flex;
  margin-top: 0px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.col-flex {
  display: flex !important;
  padding-left: 0px !important;
}

.div-count-records {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
