
.sheet-tools {
  display: flex !important;
  padding-right: 10px;
}

.sheet-button {
  background-color: white;
  margin-right: 15px !important;
}

.sheet-dropdown {
  width: 100%;
}

.sheet-msg {
  color: white;
  font-size: 16px;
  padding-left: 20px;
}

.sheet-main-row {
  margin-bottom: 20px;
}

.sheet-head-row {
  height: 40px;
}

.sheet-col {
  display: table;
  padding-left: 0px;
  background-color: white;
}

.sheet-msg {
  height: 60px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  line-height: 60px;
  align-items: center;
}

#sheet-msgInfo {
  background-color: var(--color-yellow);
}

#sheet-msgWarning {
  background-color: var(--color-salmon);
}

.data-grid-container .data-grid .cell > input {
  width: 100%;
  height: 125%;
  border: 2px solid rgb(154; 196; 228);
}

.data-grid-container .data-grid .cell {
  text-align: center;
}

.sheet-head {
  text-align: center;
  background-color: rgb(203, 229, 246);
  color: rgb(21, 49, 60);
  border: 1px solid rgb(164, 164, 164);
}

.col-flex {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
