
#col-quick-form {
  flex-wrap: wrap;
  align-items: left;
  display: flex;
  height: 100%;
  background-color: var(--color-graywhite);
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}
