
.admin-grid {
  top: 0px;
  height: 100vh;
}

.admin-grid-row {
  padding-bottom: 0px,
}

.admin-grid-col {
  height: 100% !important;
  display: table !important;
  position: absolute !important;
  top: 0px !important;
}
