
.sidebar-pushable {
  display: contents;
}

.sidebar-img {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
}

.sidebar-body: {
  background-color: #282e30;
  width: 100%;
  overflow-scrolling: touch;
  display: table;
}
